page-admin-main {
.list .button-inner{
    justify-content:flex-start;
    color:#0D47A1;
    
}
.a{
  margin:1em;
  width:85%;
  background-color:#E3F2FD;
  color:#0D47A1;
  
}
.b{
   background-color:#90CAF9;
   color:#0D47A1;
}
.c{
   background-color:#90CAF9;
   
}
.searchbut{
  background-color: #0D47A1;
   color:white;
  justify-content: center;
}
.button-inner{
    color:white;
    
}
.d{
  background-color:#E3F2FD;
  text-align:center;
  font-size:3em;
}

}
